<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="healthSumAI.TestCases.LandingPageTest"/>
      <class name="healthSumAI.TestCases.AiSummarize"/>
            <class name="healthSumAI.TestCases.Patients"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
